*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* General */
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background-color: #fff;
  color: #444;
  font-size: 16px;
}

.container {
  padding-left: 10px;
  padding-right: 10px;
}

/* Header and footer*/
.footer {
  background-color: #1abc9c;
  color: #fff;
  text-align: center;
  padding: 20px;
  border-top: solid 15px #16a085;
  margin-top: 25px;
}

.header {
  background-color: #1abc9c;
  color: #fff;
  text-align: center;
  padding: 50px 20px;
  border-bottom: solid 15px #16a085;
  margin-bottom: 25px;
  position: relative;
}

.header__title {
  font-weight: 700;
  text-shadow: 1px 1px 0 rgba(0,0,0,.2);
  font-size: 54px;
  letter-spacing: -2px;
}

.header__title:before,
.header__title:after {
  content: '';
  width: 10px;
  height: 10px;
  display: inline-block;
  border: solid 5px #16a085;
  border-right-color: transparent;
  vertical-align: middle;
  border-radius: 50%;
  animation: rotation 1s infinite linear;
}

.header__title:before {
  margin-right: 10px;
}

.header__title:after {
  margin-left: 10px;
  animation-duration: 1.5s;
}

.header__subtitle {
  font-weight: 300;
  text-shadow: 1px 1px 0 rgba(0,0,0,.2);
  font-size: 24px;
}

@keyframes pulse {
  to { transform: scale(1.2); }
}

@keyframes rotation {
  to { transform: rotate(359deg); }
}

.heart {
  color: #e74c3c;
  display: inline-block;
  vertical-align: bottom;
  font-size: 22px;
  animation: pulse .5s linear infinite alternate;
}

.heart--small {
  font-size: 16px;
  vertical-align: middle;
}

/* Grid */
.row {
  max-width: 850px;
  width: 100%;
  margin: 0 auto;
}

.row--space {
  margin-bottom: 25px;
}

.row--flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

/* Box */
.box {
  padding: 15px;
  background-color: #f5f5f5;
  border: solid 1px #dedede;
  margin: 10px 10px 10px 0;
}

.box--full {
  width: 100%;
  margin-right: 0;
}

.box__item {
  display: inline-block;
  margin: 8px 0;
}

.box__title {
  font-size: 18px;
  color: #666;
  margin-bottom: 15px;
}

/* Buttons */
.button {
  display: inline-block;
  border: none;
  background-color: #1abc9c;
  color: #fff;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 5px;
  text-shadow: 1px 1px 0 rgba(0,0,0,.25);
  box-shadow: 0 5px 0 0 #16a085;
  transition: background .3s ease;
}

.button:hover,
.button:focus {
  background-color: #049372;
  outline: none;
}

.button:active {
  transform: translateY(5px);
  box-shadow: none;
}

/* Input */
.input {
  display: inline-block;
  padding: 8px;
  max-width: 90px;
  transition: all .3s ease;
  border: solid 1px #eee;
}

.input:focus {
  border-color: #ccc;
}

/* Typography */
.title,
p {
  margin-bottom: 15px;
}

a {
  color: #16a085;
}

a:hover {
  text-decoration: none;
}

.text-yellow {
  color: #f1c40f;
}

.text-white {
  color: #fff;
}

/* Media */
@media screen and (max-width: 550px) {

  .header {
    padding: 25px 10px;
  }

  .header__title {
    font-size: 32px;
    letter-spacing: 0;
    margin-bottom: 15px;
  }

  .header__subtitle {
    font-size: 20px;
    line-height: 1.4;
  }

}