// Loader smartphone
// ==========================================================================

.loader-smartphone

  &:before
    position: fixed
    left: 50%
    top: 50%
    width: 50px
    height: 100px
    border: solid 5px #fff
    border-radius: 10px
    box-shadow: 0 5px 0 0 #fff inset, 0 -15px 0 0 #fff inset
    background: linear-gradient(to bottom,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%)


