// Base
// ==========================================================================
$bg-loader: rgba(0, 0, 0, .85)
$font-loader: Helvetica, Arial, sans-serif
$font-size-loader: 14px

// Loader default
// ==========================================================================
$loader--size: 48px
$loader--color: #fff
$loader--text-color: #fff

// Loader double
// ==========================================================================
$loader-double--color: #fff
$loader-double--color-external: #eb974e
$loader-double--size: 48px
$loader-double--border: 8px

// Loader bar
// ==========================================================================
$loader-bar--color: #52b3d9
$loader-bar--color-secondary: #4183d7
$loader-bar--text-color: #fff

// Loader bar ping pong
// ==========================================================================
$loader-bar-ping--bar: #000
$loader-bar-ping--ticker: #f19

// Loader border
// ==========================================================================
$loader-border--width: 15px
$loader-border--height: 15px
$loader-border--text-color: #fff
$loader-border--color: #ff0

// Loader ball
// ==========================================================================
$loader-ball--color: #fff
$loader-ball--shadow: rgba(0, 0, 0, .5)

// Loader smartphone
// ==========================================================================
$loader-smartphone--color: #fd0
$loader-smartphone--text-color: #fff

// Loader clock
// ==========================================================================
$loader-clock--color: #2ecc71
$loader-clock--color-bg: #f5f5f5
$loader-clock--color-border: #555

// Loader curtain
// ==========================================================================
$loader-mask--size: 70px
$loader-mask--color: #666
$loader-mask--color-mask: #fff

$loader-mask--color-blue: #3498db
$loader-mask--color-green: #2ecc71
$loader-mask--color-yellow: #f1c40f
$loader-mask--color-red: #e74c3c
